.list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  order: 2;
}

.MatchPreview hr {
  bottom: 0;
  width:95%;
  text-align:center;
  margin: 0 auto;
  background-color: #000000;
  border: none;
  height: 2px;
}
