.TeamFilters {
  transition: all .2s ease;
  order: 1;
}

.filter-item {
  padding-bottom: 35px;
  display: inline-block;
  width: 100%;
  position: relative;
}

.filter-item hr {
  bottom: 0;
  width:95%;
  text-align:center;
  margin: 0 auto;
  background-color: #000000;
  border: none;
  height: 2px;
}

.filter-item h5 {
  margin-top: 0;
}
